@using System.Web.Configuration;
@{
    string homeLinkText = WebConfigurationManager.AppSettings["partner"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.PageTitle</title>

    @this.RenderSection("cp_head", false)
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <!--<div class="navbar navbar-inverse @(ViewBag.Page == "home" ? "home" : "")">
        <div class="container">
            <div class="nav navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (ViewBag.Page != "search")
                {
                    <a href="/Search" class="btn search-btn navbar-toggle">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <div class="search">
                        @Html.Partial("~/Views/Shared/_SearchForm.cshtml")
                    </div>
                }
                <a class="navbar-brand" href="/">Visual Studio</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left heading">
                    <li> Tools for Apache Cordova </li>
                    <li @(ViewBag.Section == "search" ? "class='search active'" : "class=search")><a href="/Search">Search</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.Page != "search")
                    {
                        <li>
                            <a href="/Search" class="btn search-btn navbar-toggle">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </li>
                        <li class="search">
                            @Html.Partial("~/Views/Shared/_SearchForm.cshtml")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>-->
    <div class="navbar">
        @Html.Partial("~/Views/Shared/_Header.cshtml")
    </div>
    <div class="container body-content docs">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("~/Views/Shared/_DocsNav.cshtml")
            </div>
            <div class="col-sm-9 col-md-7 body">
                @RenderBody()
                <hr />
                <div id="disqus_thread" class="disqus"></div>
            </div>
            <div class="col-md-2">
                @Html.Partial("~/Views/Shared/_RightNav.cshtml")
            </div>
        </div>
        
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    @Scripts.Render("~/Scripts/toc.js")
    @Scripts.Render("~/Scripts/index.js")
    @Scripts.Render("~/Scripts/disqus.js")
    @Scripts.Render("~/Scripts/google_analytics.js")
    @RenderSection("scripts", required: false)
</body>

</html>
